{% extends 'todo/base.html' %}

{% block content %}
    <section class="section">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            </thead>
            {% for todo in todos %}
                <tr>
                    <td>
                        {% if todo.completed == True %}
                            <span style="color:darkgray">{{ todo.task }}</span>
                        {% else %}
                            {{ todo.task }}
                        {% endif %}
                    </td>
                    <td>
                        {% if todo.completed == True %}
                            <a href="{% url 'mark_incomplete' todo.id %}" style="color:hsl(171, 100%, 41%)"><i
                                    class="far fa-check-square"></i></a>
                        {% else %}
                            <a href="{% url 'mark_complete' todo.id %}" style="color:gray"><i class="far fa-square"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'delete' todo.id %}" style="color:red"><i class="far fa-trash-alt"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'edit' todo.id %}" style="color:hsl(204, 86%, 53%)"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if messages %}
            {% for message in messages %}
                <article class="message is-success">
                    <div class="message-header">
                        <p>Nice!</p>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}