<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
<span class="icon-text"
      style="padding: 9px 15px 1px 15px; border:1px solid transparent;border-radius: 5px;background-color: #3273dc;">
  <span class="icon has-text-white">
 <i class="fas fa-tasks fas fa-2x"></i>
  </span>
</span>
            <span class="is-family-code has-text-weight-bold"
                  style="padding: 9px 15px 9px 5px">
            <span style="font-size: 20px;font-family:cursive;">To-Do</span>
            </span>
        </a>

    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <form method="POST">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control">
                        <input name="task" class="input" type="text" placeholder="Add Todo">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</nav>